html, body 			{ font-size: 14pt; 
				  font-family: 'Alegreya sans', sans-serif;
				  font-weight: 300; }
body				{ padding-bottom: 1rem; }
.fa				{ font-size: 11pt; }
.hide 				{ display: none; }
input 				{ display: none; }
input ~ section 		{ display: none; }
input ~ header .audit-toplevel-shown,
input ~ header .audit-is-shown 	{ display: none; }
input ~ header 			{ font-size: 0; }
input ~ header > * 		{ font-size: 14pt; }
input ~ header label		{ padding: 0.2rem 0.5rem;
				  margin: 0.5rem auto;
				  border: 2px solid #ccc;
				  cursor: pointer;
				  border-radius: 0.5rem; 
				  display: flex; }
input ~ header label		{ color: #000; }
.noop > input ~ header label	{ color: #888; }
input ~ header label > span:first-child
				{ flex: 1; }
input ~ header label > span:last-child > span
				{ display: inline-block;
				  width: 4ex; }
input:checked ~ header .audit-is-shown 
				{ display: flex; 
				  border: 2px solid rgba(0, 0, 255, 0.4); 
				  background-color: rgba(0, 0, 255, 0.05); }
input ~ header .audit-toplevel-shown:hover
				{ border: 2px solid rgba(0, 0, 255, 0.3); 
				  background-color: rgba(0, 0, 255, 0.02); }
input:checked ~ section 	{ display: block; 
				  padding: 0 1rem; }
.audit-toplevel-view:checked ~ article header .audit-toplevel-shown
				{ display: flex; }
.audit-data-field-noexport 	{ color: #aaa; }
.audit-data-list > div 		{ width: 100%; 
				  display: inline-block; }
.audit-noentry 			{ color: #666; 
				  font-style: italic; }
.audit-link			{ cursor: pointer; 
				  border-bottom: 1px dotted rgba(0, 0, 255, 0.4); }
h1				{ font-weight: 700;
				  margin-top: 0;
				  font-size: 24pt; }
h2				{ font-weight: 500;
				  font-size: inherit; }
h3				{ font-weight: 500;
				  font-size: inherit; }
h4				{ margin: 8pt 0; 
				  font-weight: 400;
				  font-size: inherit; }
.audit-access-list > section > section > h4:first-child
				{ margin-top: 2pt; }
h5				{ font-size: smaller; 
				  margin-bottom: 0;
				  margin-top: 1em;
				  font-weight: 400; }
#parsed				{ position: relative; 
				  width: 100%; }
#parsed > aside			{ position: fixed;
				  width: 50%;
				  top: 0;
				  transition: left 0.2s linear;
				  box-shadow: 2px 2px 2px #666;
				  background-color: #ccc;
				  left: 50%; }
#parsed > aside.hide		{ display: block;
				  left: 102%; }
#aside > div			{ position: relative; 
				  padding: 1.5rem; }
#aside-close 			{ position: absolute; 
				  z-index: 10;
				  top: 4px;
				  cursor: pointer;
				  color: #666;
				  left: 4px; }
#aside-close:hover		{ color: #000; }
code				{ font-family: monospace;
				  font-size: 12pt; }
.audit-accessfrom-paths > li > span + span:before
				{ content: '\2192'; }
.audit-accessfrom-paths 	{ margin: 0; 
				  padding-left: 1em; }

@media (min-width: 75ex) {
.audit-data-list > div 		{ width: 48%; }
}

@media (min-width: 125ex) {
.audit-data-list > div 		{ width: 30%; }
}

@media (min-width: 175ex) {
.audit-data-list > div 		{ width: 23%; }
}

@media (min-width: 225ex) {
.audit-data-list > div 		{ width: 18%; }
}
