body					{ font-family: "Fira Sans", sans-serif; 
					  color: #444;
					  margin: 0;
				 	  font-size: 13pt; }
a					{ color: #07889b; }
body > header				{ width: 100%; 
					  padding-bottom: 64pt;
					  background-color: #a0a0a0;
					  color: #fff;
					  font-size: 0;
					  margin-bottom: 2.2em;
					  text-align: center; }
#archive > header			{ padding-bottom: 24pt; }
#breadcrumbs > *			{ display: inline-block; 
					  background-color: #07889b;
					  vertical-align: top;
					  font-size: 13pt;
					  color: #ccc; }
#breadcrumbs > div:nth-child(2) 	{ background-color: #a0a0a0; }
#breadcrumbs > div:nth-child(2) > div	{ border-bottom-right-radius: 8pt; 
					  background-color: #07889b;
					  padding: 8pt 24pt;
					  border-bottom-left-radius: 8pt; }
#breadcrumbs > div:first-child > div	{ width: 8pt;
					  background-color: #a0a0a0;
					  border-top-right-radius: 4pt; }
#breadcrumbs > div:last-child > div	{ width: 8pt;
					  background-color: #a0a0a0;
					  border-top-left-radius: 4pt; }
#archive #header			{ margin-top: 24pt; }
#header					{ margin-top: 64pt; 
					  font-size: 13pt;
					  text-shadow: 0 0 2px #666; }
h1					{ display: inline-block; 
					  font-size: xx-large;
					  font-weight: 500; }
#breadcrumbs a				{ color: #fff; }
#header a				{ color: #eee; 
					  display: inline-block;
					  padding: 0 4pt; }
figure					{ text-align: center; 
					  margin: 2em 0; }
figcaption				{ color: #888; 
					  font-size: smaller; }
footer					{ text-align: center;
					  color: #888;
					  padding: 48pt 0;
					  font-size: smaller; }
footer a				{ color: #66b98f; }
.nm					{ font-style: italic; }
article > section			{ width: 60%;
					  margin-left: auto;
					  margin-right: auto; }
article[data-sblg-article]		{ width: 100%; }
code, pre.hl				{ font-family: "Fira Mono", monospace; 
					  font-size: 12pt; }
pre.hl					{ overflow: hidden; }
blockquote				{ font-size: larger; 
					  background-color: #b0b0b0;
					  color: #fff;
					  text-shadow: 0 0 1px #333;
					  margin: 2.2em 0;
					  font-weight: 400;
					  padding: 1em 20%; }
blockquote a				{ text-shadow: none; }
blockquote .subnav			{ font-size: 16pt; 
					  text-shadow: none; 
					  color: #07889b; }
.hl .lin				{ color: #aaa; }
nav[data-sblg-nav] ul			{ list-style-type: none; 
					  padding: 0; }
nav[data-sblg-nav] li			{ color: #666; }
nav[data-sblg-nav] li + li		{ margin-top: 2em; }
#archive nav[data-sblg-nav] ul > li:first-child	
					{ color: #000; }
.archive,
#archive nav[data-sblg-nav] li > div:first-child	
					{ font-weight: 500; }

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
 article > section			{ width: 80%; }
 blockquote				{ padding: 1em 10%; }
 code, pre.hl				{ font-size: 10pt; }
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
 article > section			{ width: 96%; }
 blockquote				{ padding: 1em 4%; 
 					  font-size: inherit; }
 blockquote .subnav			{ font-size: inherit; }
 figure img				{ width: 100%; 
 					  max-width: 480px; }
 h1					{ font-size: x-large; }
 #breadcrumbs > div:nth-child(2) > div	{ padding: 8pt 4pt; 
	 				  font-size: 12pt; }
}
