body					{ font-family: "Alegreya Sans", sans-serif; 
					  color: #444;
					  margin: 0;
					  background-color: #fbfbfb; 
					  font-weight: 400;
				 	  font-size: 14pt; }
a					{ color: #07889b;
					  text-decoration: none; }
body > header				{ width: 100%; 
					  padding-bottom: 32pt;
					  background-color: #f0f0f0;
					  color: #444;
					  font-size: 0;
					  margin-bottom: 2.2em;
					  text-align: center; }
body > header a				{ text-decoration: underline; }
b, strong				{ font-weight: 500; }
#intro					{ align-items: center;
					  display: flex;
					  margin-top: 2rem; }
#intro > div				{ flex: 1; 
					  margin-left: 1rem; }
p					{ line-height: 1.3em; }
p.explain .nm, #intro .nm		{ font-weight: 500;
					  font-style: normal; }
p.explain				{ text-align: center; }
#intro ~ p.explain			{ margin-top: 3em; }
p.explain.left				{ text-align: left; 
					  color: #000; }
.window					{ background-color: #fff; 
					  color: #666;
					  border: thin solid #eee;
					  text-align: left;
					  padding: 2rem;
					  border-radius: 1rem; }
.window .intro				{ font-size: 130%; 
				  	  line-height: 1.2em;
					  margin: 0; }
#topicboxes				{ border-left: thin solid #eee; 
					  width: 80%;
					  padding-top: 1em;
					  padding-bottom: 1em;
					  padding-left: 9pt; 
					  margin: 2em auto; }
#topicboxes li 				{ padding-left: 0.5rem; }
#topicboxes li + li			{ margin-top: 1.5em; }
#topicboxes .topic			{ display: block; 
					  font-weight: 500;
					  color: #555;
					  font-size: 130%; }
#topicboxes .contents			{ opacity: 0.9; }
#breadcrumbs > *			{ display: inline-block; 
					  vertical-align: top;
					  font-size: 13pt;
					  color: #eee; }
#breadcrumbs > div > div		{ border-bottom-right-radius: 4pt; 
					  background-color: #07889b;
					  box-shadow: 0 0 4px #888;
					  border-top: none;
					  padding: 10pt 32pt;
					  border-bottom-left-radius: 4pt; }
#header					{ margin-top: 6rem; 
					  font-size: 16pt; }
#header .intro				{ font-size: xx-large; 
					  margin: 1rem 0; }
#header nav				{ font-size: 90%; }
#header nav a				{ color: #666; 
					  display: inline-block;
					  font-variant: small-caps;
					  padding: 0 4pt; }
#header nav a:hover			{ color: #444; }
#header i				{ font-size: smaller; }
#breadcrumbs a				{ color: #fff; }
h1					{ display: inline-block; 
					  font-size: inherit;
					  margin: 0;
					  font-weight: 500; }
h1 a					{ color: #555; }
h2					{ font-size: 140%; 
					  font-variant: small-caps;
					  text-align: center;
					  margin: 3rem 0 0 0;
					  font-weight: 500; }
section + h2				{ margin-top: 3rem; }
h2 span					{ font-size: 70%;
					  font-weight: 400; }
h3					{ font-weight: 500; 
					  margin-bottom: 0; 
					  margin-top: 4rem;
					  padding-bottom: 4pt;
					  border-bottom: thin solid rgba(7, 170, 187, 0.3);
					  font-size: inherit; }
h2 + code				{ display: block; 
					  margin: 1em 0;
					  background-color: #fff;
					  padding: 1em;
					  border-radius: 1rem;
					  border: thin solid #eee; }
figure					{ text-align: center; 
					  margin: 1em 0 0 0; }
figure.show-only-small			{ display: none; }
figcaption				{ color: #888; 
					  font-size: smaller; }
footer					{ text-align: center;
					  opacity: 0.8;
					  padding: 48pt 0;
					  font-size: smaller; }
.file, .nm				{ font-style: italic; }
article > section + nav			{ margin-top: 3rem; }
article > nav				{ border-top: thin solid #ddd; 
					  margin-bottom: 3rem;
					  text-align: center; }
article > nav > span			{ background-color: #eee; 
					  padding: 0.2em 2em;
					  border: thin solid #ddd;
					  border-top: none;
					  font-size: smaller;
					  color: #888;
					  font-weight: 500;
					  border-bottom-left-radius: 4pt;
					  border-bottom-right-radius: 4pt;
					  display: inline-block; }
article > section			{ max-width: 98%;
					  width: 66rem;
					  margin-left: auto;
					  margin-right: auto; }
#usage-box section			{ color: #222; }
img					{ max-width: 100%; }
article[data-sblg-article]		{ width: 100%; }
code, pre.hl				{ font-family: monospace; 
					  font-size: smaller; }
pre.hl					{ overflow: hidden; }
.hl .lin				{ color: #aaa; }
nav[data-sblg-nav] ul			{ list-style-type: none; 
					  padding: 0; }
.archive				{ opacity: 0.6;
					  margin-top: 2em; }
nav[data-sblg-nav] time			{ opacity: 0.5; 
					  padding-top: 6pt;
					  display: block; }
#archive nav[data-sblg-nav] time	{ display: inline; }
nav[data-sblg-nav] time i		{ font-size: smaller; }

nav[data-sblg-nav] li			{ color: #666; 
					  background-color: #fff;
					  padding: 1em;
					  border-radius: 1rem;
					  border: thin solid #eee; }
nav[data-sblg-nav] li + li		{ margin-top: 2em; }
#archive nav[data-sblg-nav] ul > li:first-child	
					{ color: #000; 
					  margin-top: 3em;
					  margin-bottom: 3em; }
#archive nav[data-sblg-nav] li > div:first-child	
					{ font-weight: 500; }
.blue					{ color: blue; }

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
 #header				{ font-size: 13pt; }
 #header .intro				{ font-size: 120%; }
 #intro					{ display: block; }
 #intro > div				{ margin-left: 0; }
 #intro .intro				{ font-size: 120%; }
 h2					{ font-size: inherit; }
 #breadcrumbs > div:nth-child(2) > div	{ padding: 8pt 4pt; 
	 				  font-size: 12pt; }
 #archive nav[data-sblg-nav] ul > li:first-child	
					{ font-size: 100%; }
 figure.show-only-big			{ display: none; }
 figure.show-only-small			{ display: block; }
}
