body					{ font-family: "Alegreya Sans", sans-serif; 
					  color: #444;
					  margin: 0;
					  font-weight: 400;
				 	  font-size: 14pt; }
a					{ color: #07889b;
					  text-decoration: none; }
body > header				{ width: 100%; 
					  padding-bottom: 32pt;
					  background-color: #f0f0f0;
					  color: #444;
					  text-align: center; }
body > header a				{ text-decoration: underline; }
b, strong				{ font-weight: 500; }
p					{ line-height: 1.3em; }
p.explain				{ color: #000; }
#intro p				{ font-size: 130%; 
				  	  line-height: 1.3em;
					  color: #000;
					  margin-bottom: 3rem; }
#topicboxes				{ border-left: thin solid #eee; 
				 	  margin-left: 4pt;
					  padding-left: 1rem; }
#topicboxes li 				{ padding-left: 0.5rem; }
#topicboxes li + li			{ margin-top: 1rem; }
#topicboxes .topic			{ display: block; 
					  font-weight: 500;
					  color: #000; }
#breadcrumbs > *			{ display: inline-block; 
					  vertical-align: top;
					  font-size: 13pt;
					  color: #eee; }
#breadcrumbs > div > div		{ border-bottom-right-radius: 4pt; 
					  background-color: #07889b;
					  box-shadow: 0 0 4px #888;
					  border-top: none;
					  padding: 10pt 32pt;
					  border-bottom-left-radius: 4pt; }
#header					{ margin-top: 6rem; }
#header .intro				{ font-size: xx-large; 
					  margin: 1rem 0; }
#header nav				{ font-size: 90%; }
#header nav a				{ color: #666; 
					  display: inline-block;
					  font-variant: small-caps;
					  padding: 0 4pt; }
#header nav a:hover			{ color: #444; }
#header i				{ font-size: smaller; }
#breadcrumbs a				{ color: #fff; }
h1					{ display: inline-block; 
					  font-size: inherit;
					  margin: 0;
					  font-weight: 500; }
h1 a					{ color: #555; }
h2					{ font-size: 140%; 
					  font-variant: small-caps;
					  text-align: center;
					  margin: 3rem 0 0 0;
					  font-weight: 500; }
section + h2				{ margin-top: 3rem; }
h2 span					{ font-size: 70%;
					  font-weight: 400; }
h3					{ font-weight: 500; 
					  margin-bottom: 0; 
					  margin-top: 4rem;
					  padding-bottom: 4pt;
					  border-bottom: thin solid rgba(7, 170, 187, 0.3);
					  font-size: inherit; }
h2 + code				{ display: block; 
					  margin: 1em 0;
					  background-color: #f0f0f0;
					  color: #000;
					  padding: 1rem;
					  border-radius: 1rem;
					  border: thin solid #ddd; }
figure					{ text-align: center; 
					  margin: 1rem 0 0 0; }
figcaption				{ color: #888; 
					  font-size: smaller; }
footer					{ text-align: center;
					  opacity: 0.8;
					  padding: 48pt 0;
					  font-size: smaller; }
.file, .nm				{ font-style: italic; }
article > section + nav			{ margin-top: 3rem; }
article > nav				{ border-top: thin solid #ddd; 
					  margin-bottom: 3rem;
					  text-align: center; }
article > nav > span			{ background-color: #eee; 
					  padding: 0.2em 2em;
					  border: thin solid #ddd;
					  border-top: none;
					  font-size: smaller;
					  color: #888;
					  font-weight: 500;
					  border-bottom-left-radius: 4pt;
					  border-bottom-right-radius: 4pt;
					  display: inline-block; }
img					{ max-width: 100%; }
article[data-sblg-article]		{ width: 100%; }
code, pre.hl				{ font-family: monospace; 
					  font-size: smaller; }
pre.hl					{ overflow: hidden; }
.hl .lin				{ color: #aaa; }
#archive nav[data-sblg-nav] ul		{ list-style-type: none; 
					  padding: 0; }
#archive nav[data-sblg-nav] time	{ display: inline; }
#archive nav[data-sblg-nav] li		{ opacity: 0.5;
					  margin-top: 2rem; }
#archive nav[data-sblg-nav] ul > li:first-child	
					{ opacity: 1.0;  }
#archive nav[data-sblg-nav] li > div:first-child	
					{ font-weight: 500; }
.blue					{ color: blue; }

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
 #header .intro				{ font-size: 120%; }
 #intro .intro				{ font-size: 120%; }
 h2					{ font-size: inherit; }
 #breadcrumbs > div:nth-child(2) > div	{ padding: 8pt 4pt; 
	 				  font-size: 12pt; }
}
